@model Post


<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-secondary">Delete Post</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class ="mb-3">
            <label asp-for="Description"> </label>
            <input asp-for="Description" disabled class="form-control"/>

        </div>
         <div class ="mb-3">
            <label asp-for="Picture"> </label>
            <input asp-for="Picture" disabled class="form-control"/>

        </div>
         <div class ="mb-3">
            <label asp-for="EventId" > </label>
            <input asp-for="EventId" disabled  class="form-control"/>

        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Post" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list </a>
    </div>


</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

